{% extends '../home.html' %}

    <body>
        {% block container %}
        <h4>Página dos clientes</h4>
        {% if user.is_authenticated or user.is_superuser %}
            <p>Nesta página você terá a possibilidade de gerenciar os clientes cadastrados no hotel.</p>
            <center><h3><strong>Opções</strong></h3></center>
            <a href="{% url 'clientes:create_cliente' %}">
                <button type="button" class="btn btn-primary btn-lg btn-block">Cadastrar clientes</button>
            </a>
            <br>
            <a href="{% url 'clientes:list_cliente' %}">
                <button type="button" class="btn btn-primary btn-lg btn-block">Listar clientes</button>
            </a>
        {% else %}
            <br>
            <h3>Você não possui acesso a esta página.</h3>
        {% endif %}
        {% endblock %}
    </body>
</html>