{% extends '../home.html' %}
{% load crispy_forms_tags %}
{% block container %}
    {% if user.is_authenticated or user.is_superuser %}
    <table class="table table-striped">
      <th><h1>Lista de quartos</h1></th>
      <th>
        <a href="{% url 'quartos:create_quarto' %}" class="text-primary">
          <button type="button" class="btn btn-primary">Adicionar</button>
        </a>
      </th>
    </table>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Quarto</th>
            <th scope="col">Categoria</th>
            <th scope="col">Opções</th>
          </tr>
        </thead>
        <tbody>
        {% for quarto in object_list %}
          <tr>
            <td>{{quarto.numero}}</td>
            <td>{{quarto.categoria}}</td>
            <td>
                <a href="{% url 'quartos:update_quarto' quarto.id%}" class="text-primary">
                    <button type="button" class="btn btn-primary">Alterar</button>
                </a>
                
                <a href="{% url 'quartos:delete_quarto' quarto.id%}" class="text-danger">
                    <button type="button" class="btn btn-danger">Apagar</button>
                </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% else %}
    <br>
    <h3>Você não possui acesso a esta página.</h3>
{% endif %}
{% endblock %}