{% extends '../home.html' %}
{% load crispy_forms_tags %}
{% block container %}
<h1>Lista de categorias</h1>
{% if user.is_authenticated or user.is_superuser %}
    <br>
    {% for categoria in object_list %}         
        <tr>
            <td>
                <p><strong>Categoria:</strong> {{categoria.nome}} 
            
                <a href="{% url 'categorias:update_categoria' categoria.id%}" class="text-primary">
                    Alterar
                </a>
            
                <a href="{% url 'categorias:delete_categoria' categoria.id%}" class="text-danger">
                    Apagar
                </a>
                </p>
            </td>   
        </tr>
    {% endfor %}
{% else %}
    <br>
    <h3>Você não possui acesso a esta página.</h3>
{% endif %}
{% endblock %}