{% extends "home.html" %}

{% block title %}

Entrar | {{ block.super }} 

{% endblock title %} 
{% block container %} 

  <div class="row"> 
  <div class="col-md-8 col-md-offset-2"> 
    <div class="page-header"> 
        <h1>Entrar</h1>
        {% for error in form.non_field_errors %}
                  <div class='alert alert-danger'>
                      {{ error }}
                  </div>
        {% endfor %}
    </div>  
                <form class="form-horizontal" method="post">
                    {% csrf_token %}
                    <div class="mb-3" >
                        <label for="exampleInputEmail1" class="form-label">Username</label>
                        <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input name="password" type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
{% endblock container %}