{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% block container %}
<h2>Criação de locações de quartos</h2>
    {% if user.is_authenticated or user.is_superuser %}
        <form method="POST" class="table" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="form-group">
                {{form|crispy}}
            </div>
            <button type="submit" class="save btn btn-success ">Salvar</button>
        </form>
    {% else %}
        <br>
        <h3>Você não possui acesso a esta página.</h3>
    {% endif %}
{% endblock %}