{% extends '../home.html' %}
{% load crispy_forms_tags %}
{% block container %}
<h2>Exclusão de locações</h2>
    {% if user.is_authenticated or user.is_superuser %}
        <p>Deseja realmente excluir a locação <strong>{{ object }}</strong> do hotel?</p>
        <form method="POST" class="table" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="form-group">
                {{form|crispy}}
            </div>
            <button type="submit" class="save btn btn-danger ">Delete</button>
        </form>
    {% else %}
        <br>
        <h3>Você não possui acesso a esta página.</h3>
    {% endif %}
{% endblock %}