{% extends '../home.html' %}
{% load crispy_forms_tags %}
{% block container %}
<h1>Lista de Locações</h1>
<br>
    {% if user.is_authenticated or user.is_superuser %}
    {% for locacao in object_list %}         
        <tr>
            <td>
                <p><strong>locação:</strong> {{locacao.nome}} 
            
                <a href="{% url 'locacoes:update_locacao' id = locacao.id %}" class="text-primary">
                    Alterar
                </a>
            
                <a href="{% url 'locacoes:delete_locacao' id = locacao.id %}" class="text-danger">
                    Apagar
                </a>
                </p>
            </td>   
        </tr>
    {% endfor %}
{% else %}
    <br>
    <h3>Você não possui acesso a esta página.</h3>
{% endif %}
{% endblock %}