{% extends '../home.html' %}
{% load crispy_forms_tags %}
{% block container %}
    {% if user.is_authenticated or user.is_superuser %}
    <h1>Lista de quartos livres</h1>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Quarto</th>
            <th scope="col">Categoria</th>
            <th scope="col">Preço</th>
            <th scope="col">Opções</th>
          </tr>
        </thead>
        <tbody>
        {% for quarto in object_list %}
          <tr>
            <td>{{quarto.numero}}</td>
            <td>{{quarto.categoria}}</td>
            <td>{{quarto.categoria.preco}}</td>
            <td>
                <a href="#" class="text-primary">
                    <button type="button" class="btn btn-primary">Detalhar</button>
                </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% else %}
    <br>
    <h3>Você não possui acesso a esta página.</h3>
{% endif %}
{% endblock %}