{% extends '../home.html' %}
{% load crispy_forms_tags %}
{% block container %}
<h1>Lista de quartos</h1>
<br>
{% if user.is_authenticated or user.is_superuser %}
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Preço</th>
            <th scope="col">Opções</th>
          </tr>
        </thead>
        <tbody>
        {% for servico in object_list %}
          <tr>
            <td>{{servico.nome}}</td>
            <td>{{servico.valor}}</td>
            <td>
                <a href="{% url 'servicos:update_servico' servico.id%}" class="text-primary">
                  <button type="button" class="btn btn-primary">Alterar</button>
                </a>
                
                <a href="{% url 'servicos:delete_servico' servico.id%}" class="text-danger">
                    <button type="button" class="btn btn-danger">Apagar</button>
                </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% else %}
    <br>
    <h3>Você não possui acesso a esta página.</h3>
{% endif %}
{% endblock %}