{% extends '../home.html' %}
{% load crispy_forms_tags %}
{% block container %}
<h1>Lista de quartos</h1>
<br>
{% if user.is_authenticated or user.is_superuser %}
    {% for servico in object_list %}         
        <tr>
            <td>
                <p><strong>Quarto:</strong> {{quarto.numero}} 
            
                <a href="{% url 'servicos:update_servico' servico.id%}" class="text-primary">
                    Alterar
                </a>
            
                <a href="{% url 'servicos:delete_servico' servico.id%}" class="text-danger">
                    Apagar
                </a>
                </p>
            </td>   
        </tr>
    {% endfor %}
{% else %}
    <br>
    <h3>Você não possui acesso a esta página.</h3>
{% endif %}
{% endblock %}