{% extends '../home.html' %}
{% load crispy_forms_tags %}
{% block container %}
<h1>Lista de itens dos quartos</h1>
<br>
{% if user.is_authenticated or user.is_superuser %}
  <table class="table table-striped">
    <th><h1>Lista de itens para os frigobares</h1></th>
    <th>
      <a href="{% url 'itens:create_itens_quarto' %}" class="text-primary">
        <button type="button" class="btn btn-primary">Adicionar</button>
      </a>
    </th>
  </table>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Iten para o quarto</th>
            <th scope="col">Opções</th>
          </tr>
        </thead>
        <tbody>
        {% for item in object_list %}         
          <tr>
            <td>{{item.nome}}</td>
            <td>
                <a href="{% url 'itens:update-itens-quarto' item.id %}" class="text-primary">
                  <button type="button" class="btn btn-primary">Alterar</button>
                </a>
                
                <a href="{% url 'itens:delete-itens-quarto' item.id %}" class="text-danger">
                  <button type="button" class="btn btn-danger">Apagar</button>
                </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% else %}
    <br>
    <h3>Você não possui acesso a esta página.</h3>
{% endif %}    
{% endblock %}